[submodule "Chinese_Chess_Recognition"]
	path = Chinese_Chess_Recognition
	url = https://huggingface.co/spaces/yolo12138/Chinese_Chess_Recognition.git
[submodule "Pikafish"]
	path = Pikafish
	url = https://github.com/Friend-A-12138/Pikafish.git
